* {
    box-sizing: border-box;
    font-family: Monospace;
    flex-direction: row;
  }

 body {
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-family: Monospace

 }

 .timer {
  flex-direction: column;
  background-color: rgb(32, 194, 178); 
  border-radius: 4px;
  border-color: rgb(64, 155, 155);
  color: white;
  padding: 10px 50px;
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
  margin-left: 550px;

}


 .container {
  background-color: white;
  margin: center;

 }

  .home {
    background-color: hsl(221, 9%, 49%);
    border-radius: 15px;
    border-width: 1px;
    box-shadow: rgba(136, 92, 202, 0.15) 0px 2px 8px 0px;
    font-size: 18px;
    max-width: 800px;
    padding: 30px 40px;
    font-family: Monospace;
  }
  
  header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-style: inset;
    border-width: 2px;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    background-color: white;
  
  }

  article {
    text-decoration: underline;
    
  }

  h1 {
    text-decoration: underline;
    
  }

  .questions {
    flex-direction: column-reverse; 
    border-radius: 4px;
    border-color: azure;
    padding: 15px 100px;
    display: inline-block;
    font-size: 16px;
    margin: center;
    margin-top: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    border-style: inset;
    border-width: 2px;
    background-color: rgb(179, 241, 247);
    font-size: 125%;
    font-weight: 300;
  
  }

  .btn {
    flex-direction: column;
    background-color: rgb(51, 61, 114); 
    border-radius: 4px;
    border-color: azure;
    color: white;
    padding: 15px 100px;
    display: inline-block;
    font-size: 16px;
    margin-top: 30px;
  
  }
  
  .btn:hover {
    background-color:  rgb(108, 131, 244); 
    color: white;
  }
  
 .btn.correct {
  color: rgb(84, 237, 84)

}

 .btn.incorrect {
  color: rgb(239, 5, 5);

}

 .start-btn, .submit-btn {
 font-weight: bold;

}

.finish-btn {
  font-weight: bold;
  color: rgb(230, 191, 233);
  background-color: rgb(32, 194, 178);

}

 .controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 275px;
}

 .hide {
  display: none;
}